 # Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
lst  = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [21]:
 lst1 = (data, lambda lst : lst[11])

In [22]:
lst1

([('Sachin Tendulkar', 34357),
  ('Ricky Ponting', 27483),
  ('Jack Kallis', 25534),
  ('Virat Kohli', 24936)],
 <function __main__.<lambda>(lst)>)

#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
    #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst1 = (data)

In [26]:
list(map(lambda lst : lst**2 , lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [27]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
tuple(map(lambda x : str(x) , lst1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [49]:
from functools import reduce 
numbers_1 = range (1,25)
reduce(lambda x, y: x * y, numbers_1)

620448401733239439360000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [50]:
atul =  [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [51]:
list(filter(lambda x :  x % 6 == 0 ,atul))

[6, 60, 90, 120]

   ##Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [52]:
patil = ['python', 'php', 'aba', 'radar', 'level']

In [58]:
list(filter(lambda word : word == word [::-1],patil))

['php', 'aba', 'radar', 'level']